<ion-content color="blanco">
  <ion-card color="azul">
    <ion-card-title class="ion-text-center">Visión DuocUC</ion-card-title>
    <ion-card-header>
      <h5 class="texto-asistencia">Nuestra misión es ser una institución de educación superior líder en la formación técnico-profesional, reconocida por su calidad académica, su compromiso con la empleabilidad de sus egresados y su contribución al desarrollo del país. Aspiramos a ser un referente en la innovación educativa, generando oportunidades de crecimiento personal y profesional, mediante una formación ética, integral y orientada al servicio de la sociedad.</h5>
      <ion-card-title class="ion-text-center"></ion-card-title>
    </ion-card-header>