<ion-content color="blanco">
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>{{ user.name }}</ion-card-title>
      <ion-card-subtitle>Perfil DuocUC</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="end">
            <ion-img id="logo" src="assets/img/logo2.png" alt="Logo de Duoc UC"></ion-img>
          </ion-thumbnail>
        </ion-item>
        <ion-item>
          <ion-label>Correo DuocUC: {{ user.email }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>  
</ion-content>
